<%# navigation styled for Bootstrap 3.0 %>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <%= link_to "Comite Ambiental UPIIG", root_path, :class => 'navbar-brand'%>
  </div>
  <div class="collapse navbar-collapse">
    <div class="container">

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Inicio', "#scrollinicio", class: "linkinicio" %></li>
        <li><%= link_to 'Quienes somos', "#scrollto1", class: "link1" %></li>
        <li><%= link_to 'Actividades', "#scrollto2", class: "link2" %></li>
        <li><%= link_to 'Contacto', "#scrollto3", class: "link3" %></li>
      </ul>
    </div>
  </div>
</nav>
